%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    / Title
    .navbar-header.pull-left
      = link_to "首页", root_path, class: "navbar-brand"
      .nav-form.form-inline.pull-right
        = form_for :search, :url => search_path, :method => :get do |f|
          .input-group
            = f.text_field :name, as: :string, placeholder: "书名", label: false, input_html: {class:  'form-control'}
            = f.button :button, class: " navbar-btn input-group-button" do
              %span.glyphicon.glyphicon-search{"aria-hidden" => "true"}
    / 'Sticky' (non-collapsing) right-side menu item(s)
    .navbar-header.pull-right
      %ul.nav.pull-left
        / This works well for static text, like a username
        %li.pull-left
        / Add any additional bootstrap header items.  This is a drop-down from an icon
        - if user_signed_in?
          %li.dropdown.pull-right
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
              = current_user.name
              %span.caret
            %ul.dropdown-menu
              %li= link_to "账户", edit_user_registration_path
              %li.divider{:role => "separator"}
              %li= link_to "退出", destroy_user_session_path, method: :delete
        -else
          %li.dropdown-pull-right
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
              账户
              %span.caret
            %ul.dropdown-menu
              %li= link_to "注册", new_user_registration_path
              %li= link_to "登录", new_user_session_path

      / Required bootstrap placeholder for the collapsed menu
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    
    / The Collapsing items            navbar-left or navbar-right
    .collapse.navbar-collapse.navbar-left
      / pull-right keeps the drop-down in line
      %ul.nav.navbar-nav.pull-right
        %li= link_to "阅读", books_path
        %li= link_to "词卡", cards_path
        %li= link_to "测试", "http://testyourvocab.com/", :target => "_blank"
  -#  
    / Additional navbar items
    .collapse.navbar-collapse.navbar-right
      / pull-right keeps the drop-down in line
      %ul.nav.navbar-nav.pull-right
        %li
          = link_to new_book_path, class: "btn btn-default" do
            %i.glyphicon.glyphicon-plus 新书
