.index
  .row
    %blockquote
      %p 没有什么能够阻挡，我对自由的向往

  - events.each do |event|
    .row
      %hr
      /=event.to_view_str
      - case event.event_type
      - when "newcard"
        ="@#{event.name} 制作了《"
        - if event.book_id
          %a{:href => book_path(event.book_id)}#{event.book_name}
        -else
          #{event.book_name}
        ="》书中的#{event.count || event.words.split(" ").count}张单词卡片。"
      - when "newbook"
        ="@#{event.name} 新增了《"
        - if event.book_id
          %a{:href => book_path(event.book_id)}#{event.book_name}
        -else
          #{event.book_name}
        ="》一书。"
      - else
        @#{event.name} @《#{event.book_name}》。

      %span.pull-right
        =" #{time_ago_in_words(event.created_at)}前  "

  #static-pagination
    = will_paginate events

%br
